<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} | Blog</title>
    {{> head}}
  </head>
  <body>
    {{> header}}

    <main class="main post">
      <div class="container">
        <h1 class="heading">
          <a href="/blog">Blog</a>
          <strong>{{title}}</strong>
        </h1>

        <main class="post-content">
          {{{content}}}
        </main>
      </div>
    </main>

    {{> footer}}
  </body>
</html>