<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    {{> head}}
  </head>
  <body>
    {{> header}}

    <main class="main contact">
      <div class="container">
        <h1 class="heading">Contact</h1>
      </div>
    </main>

    {{> footer}}
  </body>
</html>